@model List<AppUser>

    <h1>Company Statistics</h1>
    <hr>
    <div class="container">
        <p>Active Companies: @ViewBag.ActiveCompanyCount</p>
        <p>Passive Companies: @ViewBag.PassiveCompanyCount</p>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Company Name</th>
                    <th>Verification KeyStatus</th>
                    <th>Verification Key Expiration Date</th>
                    <th>Islemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                <tr>
                    <td></td>
                    <td>
                        @if (company.VerificationKeyId == company.VerificationKey?.VerificationKeyId
                        && company.VerificationKey?.VerificationKeyExpirationDate > DateTime.Now)
                        {
                        <p>kullaniiyor</p>
                        }
                        else if (company.VerificationKeyId == null
                        && company.VerificationKey?.VerificationKeyExpirationDate > DateTime.Now)
                        {
                        <p>kullanilmiyor</p>
                        <form asp-action="ResendKeyWithEmail" id="ResendKeyWithEmail" method="post">
                            <input type="hidden" name="Email" value="@company.Email">
                            <button class="btn btn-primary" type="submit">KODU EMAIL ILE TEKRAR GONDER</button>
                        </form>
                        }else if(company.VerificationKeyId == company.VerificationKey?.VerificationKeyId
                        && company.VerificationKey?.VerificationKeyExpirationDate < DateTime.Now) { <p>Dogrulama kodunun
                            suresi gecmis</p>
                            }
                            else
                            {
                            <p>Dogrulama kodu yok</p>
                            }
                    </td>
                    <td>
                        @if (company.VerificationKey != null && company.VerificationKey.VerificationKeyExpirationDate
                        != null)
                        {
                        @company.VerificationKey.VerificationKeyExpirationDate.Value.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                        <p>Dogrulama kodu yok</p>
                        }
                    </td>
                    <td>@company.Email</td>
                    <td>
                        <form asp-action="DeleteCompany" id="DeleteCompany" method="post">
                            <input type="hidden" name="Id" value="@company.Id">
                            <button class="btn btn-danger">Hesabi sil</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>